<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/mystyle.css">

</head>
<body>
	<div class="header">
		<nav class="navbar" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" ><img src="http://res.cloudinary.com/uet/image/upload/v1504288766/ctwc0kxsizfsth2zpxfk.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
						<li><a data-toggle="tab" href="#menu1">Company</a></li>
						<li><a data-toggle="tab" href="#menu2">Features</a></li>
						<li><a data-toggle="tab" href="#menu3">Help</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" onclick="showcontent('login')">Login</a></li>
						<li><a href="#" onclick="showcontent('signup')">Signup</a></li>

					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="content">
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<div class="row">
						<div class=".col-xs-6 col-md-6">
							<h1>Why signup?</h1>
							<p>Thời điểm nào là tốt nhất để dạy cho bé đọc? Đây là băn khoăn của khá nhiều các bậc phụ huynh. Bài viết hôm nay của TruyenCoTichHay.com sẽ giúp các bậc cha mẹ trả lời câu hỏi này. 3 tháng tuổi có phải là quá sớm? </p>
							<button type="button" class="btn btn-success" id="btn-login" onclick="showcontent('signup')">Signup</button>
							<button type="button" class="btn btn-success" id="btn-signup" onclick="showcontent('login')">Login</button>
						</div>
						<div class=".col-xs-6 col-md-6">
							<div id="login_set">
								<p>Please use your login ID and Password</p>
								<form action="/login" method="post">
									<div class="input-group email-group">
										<span class="input-group-addon iconbg">
											<i class="glyphicon glyphicon-envelope"></i>
										</span>
										<input id="login-email" type="text" class="form-control inputbg" name="email" value="<%=(typeof email !== 'underfined')?email : ''%>" placeholder="abc.@gmail.com">
									</div>
									<div class="input-group password-group">
										<span class="input-group-addon iconbg">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
										<input id="login-password" type="password" class="form-control inputbg" value="<%=(typeof pass !== 'underfined')? pass : ''%>" name="password" placeholder="password">
									</div>
									<p><span><input type="checkbox" name=""> Remember me.</span><span><a href=""> Forgot login info?</a></span></p>
									<button  id = "click_login" class="btn btn-success">Login</button>
								</form>
							</div>

							<div id="signup_set">
								<p>Already have an account ? Signup</p>	
								<div class="input-group email-group">
									<span class="input-group-addon iconbg">
										<i class="glyphicon glyphicon-envelope"></i>
									</span>
									<input id="register-email" type="text"  class="form-control inputbg" name="email" value="" placeholder="abc.@gmail.com" >

								</div>
								<span id="loi_email"></span>	
								<div class="input-group username-group">
									<span class="input-group-addon iconbg">
										<i class="glyphicon glyphicon-user"></i>
									</span>
									<input id="register-username" type="text"  class="form-control inputbg" name="username" value="" placeholder="Enter username" >

								</div>	
								<span id="loi_username"></span>

								<div class="input-group password-group">
									<span class="input-group-addon iconbg">
										<i class="glyphicon glyphicon-lock"></i>
									</span>
									<input id="register-password" type="password" ng-model="password"  class="form-control inputbg" name="password" placeholder="password">
								</div>
								<span id="loi_pass"></span>

								<div class="input-group password-group">
									<span class="input-group-addon iconbg">
										<i class="glyphicon glyphicon-lock"></i>
									</span>
									<input id="register-repassword" type="password" ng-model="password"  class="form-control inputbg" name="repassword" placeholder="Re password">
								</div>
								<span id="loi_repass"></span>
								<br>
								<button class="btn btn-success" id="click_signup">Signup</button>

							</div>
						</div>
					</div>
				</div>

				<div id="menu1" class="tab-pane fade">
					<h3>Company</h3>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div id="menu2" class="tab-pane fade">
					<h3>Features</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				</div>
				<div id="menu3" class="tab-pane fade">
					<h3>Help</h3>
					<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</div>
			</div>
		</div>	
	</div>
	<script src="/js/index.js"></script>
</body>
</html>